#articleContainer {
 display: flex;
 flex-flow: nowrap column;
 gap: 1rem;
}
#articleContainer > article {
 padding: 1rem;
 border-bottom: 2px solid grey;
}

article > div {
 display: flex; 
}

.articleTitle {
 justify-content: space-between;
}

.articleContent {
 flex-flow: nowrap column;
}

.articleFooter {
 justify-content: space-between;
}

.articleUserDetails {
 display: flex;
 gap: 1rem;
}
.articleUserDetails img {
 height: 100%;
 aspect-ratio: 1;
 border-radius: 50%;
}
.articleAuthor {
 text-decoration: none;
 color:orangered;
 font-size: larger;
}
.articleDatePosted {
 line-height: 1;
 font-size: 12px;
 color: gray;
}
.articleTags {
 display: flex;
 gap: 0.5rem;
}

.articleTags a {
 background-color: rgb(90, 87, 255);
 color: antiquewhite;
 padding: 0.1rem 0.5rem;
 border-radius: 15%;
 text-decoration: none;
}

/* favorite button functionality */
article label input[type="checkbox"] {
 display: none;
}

article label {
 position: relative;
 cursor: pointer;
 color: greenyellow;
}

.articleFavoritedFalse {
 position: absolute;
 left: -2rem;
}
.articleFavoritedTrue {
 position: absolute;
 opacity: 0;
 left: -2rem;

}

article label input[type="checkbox"]:checked ~ .article-favorited-true {
 opacity: 1;
 animation: favorite-pop 0.5s ease-in-out;
}

@keyframes favorite-pop {
 0% {
  transform: scale(1);
 }
 20% {
  transform: scale(1.5);
 }
 40% {
  transform: scale(1);
 }
 60% {
  transform: scale(1.3);
 }
 80% {
  transform: scale(1);
 }
 100% {
  transform: scale(1.1);
 }
}
