header {
 display: flex;
 justify-content: space-between;
 position: sticky;
 top:0;
 background-color: #0e1217;
 margin-bottom: 25px;
}
nav {
 display: flex;
 align-items: center;
}

nav > ul {
 display: flex;
 list-style: none;
 gap: 1rem;
}
nav a {
 text-decoration: none;
}
.headerLogo {
 height: 50px;
 aspect-ratio: 1;
 overflow: hidden;
}

.headerLogo img {
 width: 200px;
 margin-left: -75px;
 margin-top: -70px;
}